@import "tailwindcss";

@theme {
  /* Colors */
  --color-surface: #0e0e13;
  --color-surface-container: #19191f;
  --color-surface-container-high: #1f1f26;
  --color-surface-container-highest: #25252d;
  --color-surface-container-low: #131319;
  --color-surface-container-lowest: #000000;
  --color-surface-variant: #25252d;
  --color-surface-bright: #2c2b33;
  --color-surface-dim: #0e0e13;
  --color-on-surface: #f9f5fd;
  --color-on-surface-variant: #acaab1;
  --color-primary: #83aeff;
  --color-primary-container: #6ba0ff;
  --color-primary-fixed: #6ba0ff;
  --color-primary-fixed-dim: #5392fb;
  --color-primary-dim: #669dff;
  --color-on-primary: #002d64;
  --color-secondary: #c180ff;
  --color-secondary-dim: #9c48ea;
  --color-secondary-container: #6f00be;
  --color-on-secondary: #33005b;
  --color-tertiary: #fab4ff;
  --color-tertiary-dim: #e792f0;
  --color-on-tertiary: #6c227a;
  --color-outline: #76747b;
  --color-outline-variant: #48474d;
  --color-error: #ff716c;
  --color-error-container: #9f0519;
  --color-error-dim: #d7383b;
  --color-on-error: #490006;

  /* Fonts */
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0e0e13;
}